body {
    font-family: Arial;
    margin: 0;
    background: #eef2f3;
}

header {
    background: #0d3b66;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    padding-left: 20px;
}

table {
    width: 90%;
    margin: 20px;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

form {
    width: 300px;
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #0d3b66;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

footer {
    text-align: center;
    background: #0d3b66;
    color: white;
    padding: 10px;
}
